@media (max-width: 1920px) { /* Full HD */
  .eyes-and-tears {
    flex-basis: 2100px;
  }
  .clouds {
    flex-basis: 1900px;
  }
  .block {
    flex-basis: 500px;
  }
  .text6 {
    top: 25%;
  }
}

@media (max-width: 1440px) { /* WXGA+ */
  .text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: 70px;
    top: -6%;
  }
  .eyes-and-tears {
    flex-basis: 1500px;
  }
  .clouds {
    flex-basis: 1500px;
  }
  .block {
    flex-basis: 450px;
  }
  .text6 {
    top: 25%;
    left: 26%;
  }
}

@media (max-device-width: 1366px) { /* WXGA */
  .text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: 65px;
    top: -5%;
  }
  .eyes-and-tears {
    flex-basis: 1450px;
  }
  .clouds {
    flex-basis: 1600px;
  }
  .block {
    flex-basis: 300px;
  }
  .text6 {
    top: 16%;
    font-size: 60px;
    left: 28%;
  }
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) { /* iPad Portrait (XGA) */
  .text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: 37px;
    top: -5%;
  }
  .eyes-and-tears {
    flex-basis: 800px;
  }
  .clouds {
    flex-basis: 1100px;
  }
  .block {
    flex-basis: 240px;
  }
  .cloud3 {
    top: 5%;
  }
  .text6 {
    top: 25%;
    left: 28%;
  }
}

@media (max-width: 1024px) and (orientation: landscape) { /* iPad Landscape (XGA) */
  .text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: 50px;
    top: -6%;
  }
  .eyes-and-tears {
    flex-basis: 1100px;
  }
  .clouds {
    flex-basis: 1300px;
  }
  .block {
    flex-basis: 270px;
  }
  .cloud3 {
    top: 5%;
  }
  .text6 {
    top: 16%;
    font-size: 60px;
    left: 23%;
  }
}

@media all and (min-device-width: 360px) and (max-device-width: 414px) { /* iPhone */
  .text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: 18px;
    top: -1%;
  }
  .eyes-and-tears {
    flex-basis: 380px;
  }
  .clouds {
    flex-basis: 700px;
  }
  .block {
    flex-basis: 120px;
  }
  .cloud3 {
    top: 5%;
  }
  .text6 {
    top: 27%;
    left: 29%;
  }
}


@media all and (min-device-width: 360px) and (max-device-width: 360px) { /* Android */
  .text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: 17px;
    top: -5%;
  }
  .eyes-and-tears {
    flex-basis: 360px;
  }
  .clouds {
    flex-basis: 600px;
  }
  .block {
    flex-basis: 100px;
  }
  .cloud3 {
    top: 5%;
  }
  .text6 {
    top: 20%;
    left: 27%;
  }
}
