@media all and (min-width: 1080px) and (max-width: 1920px) { /* Full HD */
  .eyes-and-tears {
    flex-basis: 2100px;
  }
  .clouds {
    flex-basis: 1900px;
  }
  .block {
    flex-basis: 500px;
  }
  .text6 {
    top: 25%;
  }
}

@media all and (min-width: 900px) and (max-width: 1440px) { /* WXGA+ */
  .text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: 70px;
  }
  .eyes-and-tears {
    flex-basis: 1500px;
  }
  .clouds {
    flex-basis: 1500px;
  }
  .block {
    flex-basis: 450px;
  }
  .text6 {
    top: 25%;
    left: 26%;
  }
}

@media all and (min-device-width: 768px) and (max-device-width: 1366px) { /* WXGA */
  .text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: 60px;
  }
  .eyes-and-tears {
    flex-basis: 1450px;
  }
  .clouds {
    flex-basis: 1600px;
  }
  .block {
    flex-basis: 300px;
  }
  .text6 {
    top: 16%;
    font-size: 60px;
    left: 28%;
  }
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { /* iPad Portrait (XGA) */
  .text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: 60px;
  }
  .eyes-and-tears {
    flex-basis: 600px;
  }
  .clouds {
    flex-basis: 1100px;
  }
  .block {
    flex-basis: 270px;
  }
  .cloud3 {
    top: 5%;
  }
  .text6 {
    top: 17%;
    left: 20%;
  }
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { /* iPad Landscape (XGA) */
  .text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: 60px;
  }
  .eyes-and-tears {
    flex-basis: 1050px;
  }
  .clouds {
    flex-basis: 1300px;
  }
  .block {
    flex-basis: 270px;
  }
  .cloud3 {
    top: 5%;
  }
  .text6 {
    top: 16%;
    font-size: 60px;
    left: 23%;
  }
}

@media all and (min-width: 414px) and (max-width: 896px) { /* iPhone */
  .text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: 28px;
  }
  .eyes-and-tears {
    flex-basis: 600px;
  }
  .clouds {
    flex-basis: 400px;
  }
  .block {
    flex-basis: 120px;
  }
  .cloud3 {
    top: 5%;
  }
  .text6 {
    top: 15%;
    left: 19%;
  }
}


@media all and (min-width: 360px) and (max-width: 640px) { /* Android */
  .text1, .text2, .text3, .text4, .text5, .text6 {
    font-size: 28px;
  }
  .eyes-and-tears {
    flex-basis: 360px;
  }
  .clouds {
    flex-basis: 500px;
  }
  .block {
    flex-basis: 120px;
  }
  .cloud3 {
    top: 5%;
  }
  .text6 {
    top: 15%;
    left: 14%;
  }
}
