html {
  height: 100%;
}
body {
  height: 100%;
  background: #272f6a;
  display: block;
}
.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.eyes-and-tears {
  position: relative;
  flex-basis: 1100px;
  flex-grow: 1;
}
.clouds {
  position: relative;
  flex-basis: 1100px;
  flex-grow: 1;
}
.apple1 {
  position: absolute;
  width: 27%;
  left: 50%;
  top: 33%;
  transform: translate(-50%, 0);
}
.apple2 {
  position: absolute;
  width: 27%;
  left: 50%;
  top: 33%;
  transform: translate(-50%, 0);
}
.eye {
  width: 50%;
  left: 2%;
  position: absolute;
  transform: translateY(-25%);
}
.eye img {
  width: 100%;
}
.eye2 {
  width: 50%;
  top: 0;
  right: 2%;
  position: absolute;
  transform: translateY(-25%);
}
.eye2 img {
  width: 100%;
}
.tear_1 {
  width: 21%;
  transform: translateY(85%);
  left: 55%;
  position: absolute;
}
.tear_2 {
  width: 23%;
  transform: translateY(120%);
  left: 20%;
  position: absolute;
}
.tear_3 {
  width: 23%;
  transform: translateY(100%);
  left: 13%;
  position: absolute;
}
.tear_4 {
  width: 25%;
  transform: translateY(300%);
  left: 60%;
  position: absolute;
}
.tear_5 {
  width: 30%;
  transform: translateY(280%);
  left: 45%;
  position: absolute;
}
.tear_6 {
  width: 30%;
  transform: translateY(130%);
  left: 15%;
  position: absolute;
}
.tear_7 {
  width: 25%;
  transform: translateY(100%);
  left: 65%;
  position: absolute;
}
.tear_8 {
  width: 27%;
  transform: translateY(345%);
  left: 2%;
  position: absolute;
}
.tear_9 {
  width: 20%;
  transform: translateY(265%);
  left: 4%;
  position: absolute;
}
.tear_10 {
  width: 23%;
  transform: translateY(78%);
  left: 35%;
  position: absolute;
}
.tear_11 {
  width: 25%;
  transform: translateY(235%);
  left: 72%;
  position: absolute;
}
.tear_12 {
  width: 18%;
  transform: translateY(440%);
  left: 72%;
  position: absolute;
}
.tear_13 {
  width: 18%;
  transform: translateY(450%);
  left: 80%;
  position: absolute;
}
.tear_14 {
  width: 23%;
  transform: translateY(380%);
  left: 25%;
  position: absolute;
}
.tear_15 {
  width: 25%;
  transform: translateY(580%);
  left: 55%;
  position: absolute;
}
.cloud1 {
  width: 50%;
  height: 50%;
  left: 5%;
  position: absolute;
}
.cloud2 {
  width: 75%;
  height: 55%;
  left: 40%;
  position: absolute;
}
.cloud3 {
  width: 75%;
  height: 55%;
  left: -10%;
  top: 10%;
  position: absolute;
}
.rain {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30%;
  background: url(../images/rain.svg) center center repeat;
}
.rain img {
  width: 100%;
  height: 100%;
}
.block {
  background-color: white;
  width: 100%;
  flex-basis: 280px;
  position: relative;
}
.text1, .text2, .text3, .text4, .text5, .text6 {
  font-family: 'Idealist-Sans';
  font-size: 80px;
  position: absolute;
}
.text6 {
  color: #1b4c93;
  width: 100%;
  transform: translateY(20%);
  left: 30%;
}
.logo {
  width: 25%;
  top: 50%;
  left: 37%;
  position: absolute;
}
.text1 {
  color: white;
  left: 70%;
  transform: translateY(1025%);
}
.text2 {
  color: white;
  left: 12%;
  transform: translateY(1150%)
}
.text3 {
  color: white;
  left: 80%;
  transform: translateY(1600%)
}
.text4 {
  color: white;
  left: 5%;
  transform: translateY(2300%)
}
.text5 {
  color: white;
  left: 65%;
  transform: translateY(2300%)
}
