body {
  width: 100%;
  background: #272f6a;
  height: 100%;
  display: block;
  position: absolute;
}
.apple1 {
  background: red;
  position: absolute;
  width: 7%;
  height: 12%;
  border-radius: 100%;
  margin-top: 5%;
  left: 31.5%;
}
.apple2 {
  background: red;
  position: absolute;
  width: 7%;
  height: 12%;
  border-radius: 100%;
  margin-top: 5%;
  left: 60.5%;
}
.eye {
  height: 70%;
  margin-top: -9%;
  left: 21%;
  position: absolute;
}
.eye2 {
  height: 70%;
  margin-top: -9%;
  left: 50%;
  position: absolute;
}
.tear_1 {
  height: 43%;
  margin-top: 20%;
  left: 52%;
  position: absolute;
}
.tear_2 {
  height: 42%;
  margin-top: 20%;
  left: 23%;
  position: absolute;
}
.tear_3 {
  width: 30%;
  height: 80%;
  margin-top: 39%;
  left: 9%;
  position: absolute;
}
.tear_4 {
  height: 30%;
  margin-top: 45%;
  left: 55%;
  position: absolute;
}
.tear_5 {
  width: 60%;
  height: 48%;
  margin-top: 54%;
  left: 19%;
  position: absolute;
}
.tear_6 {
  width: 55%;
  height: 28%;
  margin-top: 17%;
  left: 11%;
  position: absolute;
}
.tear_7 {
  width: 55%;
  height: 48%;
  margin-top: 14%;
  left: 41%;
  position: absolute;
}
.tear_8 {
  height: 27%;
  margin-top: 27%;
  left: 2%;
  position: absolute;
}
.tear_9 {
  height: 43%;
  margin-top: 45%;
  left: 5.42%;
  position: absolute;
}
.tear_10 {
  height: 78%;
  margin-top: 34%;
  margin-left: 34%;
  position: absolute;
}
.tear_11 {
  height: 35%;
  margin-top: 35%;
  margin-left: 73%;
  position: absolute;
}
.tear_12 {
  height: 32%;
  margin-top: 54.83%;
  margin-left: 67.34%;
  position: absolute;
}
.tear_13 {
  height: 33%;
  margin-top: 61.14%;
  margin-left: 77.93%;
  position: absolute;
}
.tear_14 {
  height: 43%;
  margin-top: 66%;
  margin-left: 27%;
  position: absolute;
}
.tear_15 {
  width: 55%;
  height: 28%;
  margin-top: 72%;
  margin-left: 30%;
  position: absolute;
}
.cloud1 {
  width: 45%;
  height: 80%;
  margin-top: 65%;
  margin-left: 5%;
  position: absolute;
}
.cloud2 {
  width: 75%;
  height: 80%;
  margin-top: 70%;
  margin-left: 25%;
  position: absolute;
}
.cloud3 {
  width: 75%;
  height: 90%;
  margin-top: 75%;
  margin-left: -10%;
  position: absolute;
}
.rain {
  width: 100%;
  height: 100%;
  margin-top: 97%;
  position: absolute;
}
.block {
  background-color: white;
  width: 100%;
  height: 50%;
  position: absolute;
  margin-top: 160%;
}
.text1, .text2, .text3, .text4, .text5, .text6 {
  font-family: 'Idealist-Sans';
  font-size: 80px;
  position: absolute;
}
.text6 {
  color: #1b4c93;
  margin-left: 30%;
  margin-top: 167%;
}
.logo {
  width: 25%;
  margin-top: 173%;
  margin-left: 37%;
  position: absolute;
}
.text1 {
  color: white;
  margin-left: 57%;
  margin-top: 35%;
}
.text2 {
  color: white;
  margin-left: 12%;
  margin-top: 33%;
}
.text3 {
  color: white;
  margin-left: 72%;
  margin-top: 52%;
}
.text4 {
  color: white;
  margin-left: 7%;
  margin-top: 64%;
}
.text5 {
  color: white;
  margin-left: 56%;
  margin-top: 67%;
}
